
      
      <div class="col-md-12">
        <div class="well">
          <h1>Welcome :)</h1>
          <p *ngIf="hide; else pleaseShowTemplate">This will be hidden</p>
    
          <ng-template #pleaseShowTemplate>This will be shown if upper one is Hidden </ng-template>
  
          <button class="btn btn-primary form-control" (click)="changeHiddenText()" >Change</button>
          <br/><br/>
          <button class="btn btn-success form-control" (click)="hide =!hide" >Change</button>
        </div>
      </div>

     

      